.slider-simple {
  .bxslider {
    margin: 0;
    padding: 0;
  }

  .slide {
    min-height: 250px;
    background: center center / cover;
    display: flex;
    align-items: flex-end;

    @media (min-width: $screen-sm) {
      min-height: 330px;
    }

    @media (min-width: $screen-lg) {
      min-height: 500px;
    }
  }

  .slide-content {
    width: 100%;
    padding: 2rem 1rem;
    background: rgba(255, 255, 255, .8);

    h2 {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .bx-wrapper {
    border: none;
    margin-bottom: 0;
  }
}